<h1> Centralized Data </h1>
	<div class="textbody">
		<p>
			The use of cutting edge data has become a fundamental part of political and civic action. Data can now be used to target, activate, engage and inform voters and constituent groups with an unprecedented level of precision and effectiveness. Utah Votes will provide partner organizations with the best tools and technical expertise available in their efforts to make Utah a more livable and progressive place. These tools will help our partner organizations to improve strategic and organizational outcomes, increase member and donor engagement and assist in their ability to self-assess performance.
		</p>
	</div>
