
	<p> 
		UTAH VOTES is focused on building a long-term advocacy coalition that provides coordination and targeting services to its partner organizations. 
	 </p>
	 <p>
	 	Utah Votes is committed to supporting collaborative efforts among the state and nation’s leading progressive organizations. It helps to advance forward-thinking policies, strengthen the middle class and protect every citizen’s right to vote.
	 </p>
	 <p>
	 	UTAH VOTES is focused on building a long-term advocacy coalition that provides coordination and targeting services to its partner organizations. UTAH VOTES works to advance progressive policies and educate voters through grassroots organizing and cooperation between partner organizations.
	 </p>
