* {
	border-style: solid;
    border-width: 3px;
    border-color: black;
}

nav {
	padding-left: 2%;
	padding-right: 2%;
}

section {
	padding: 3%;
}

aside {
	border-width: 6px;
	padding: 2%;
	border-color: blue;
	background-color: #FCF5F5;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
